<div class="row">
    <div class="col-md-4">
        <form name="sign_up_form" ng-submit="registerUser(user_username, user_email, user_password, user_password_confirmation)">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" ng-model="user_username" required>
                <br>
                <input type="email" class="form-control" placeholder="Email" ng-model="user_email" required>
                <br>
                <input type="password" class="form-control" placeholder="Password" ng-model="user_password" required>
                <br>
                <input type="password" class="form-control" placeholder="Confirm Password" ng-model="user_password_confirmation" required>
                <br><br>            
                <button type="submit">Sign up</button>
            </div>
        </form>
        <br>
        <div class="error_message" ng-show="registrationStatus != 0">User already exists!</div>
        <div class="error_message" ng-show="user_password != user_password_confirmation">Passwords don't match!</div>
        <br>
    </div>
</div>